{% extends 'base.html' %}

{% block content %}
    <h2 class="sub-header">Collections List</h2>
    <hr>
      <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <label style="width: 570px">Name</label>
                    <label>Action</label>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for i in collections %}
            <tr>
                <td>
                    &nbsp;
                    <label style="width: 500px"><a href="/collections/{{ i }}" id="name">{{ i }}</a></label>
                    <button id="{{ i }}" type="submit" onclick="rename_collection(this.id)">
                        <span class="glyphicon glyphicon-pencil">Rename
                        </span>
                    </button>
                    &nbsp;
                    <button id="{{ i }}" type="submit" onclick="delete_collection(this.id)">
                        <span class="glyphicon glyphicon-trash">Drop
                        </span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        <form>
            <br>
            Collection Name:<input type="text" id="Cname">
            <a class="btn btn-default" href="javascript:add()"
            role="button" style="background-color: #9acfea;">+Add</a>
            <script>
                add = function(){
                    var cname = document.getElementById('Cname').value;
                    if( cname != "" ){
                        location.href = "/collections/add/"+cname;
                    }
                    else{
                        alert("Please enter collection name!");
                    }
                }
            </script>

        <br><br><br>
        <a class="btn btn-default" href="/databases"
            role="button" style="background-color: #9acfea;">< Back to Databases</a>
      </form>
    </div>

<script type="text/javascript">

    function rename_collection(collection){

        var name=prompt("Enter your new name");
        if (name){
            var url = "/collections/rename/"+collection+"/"+name;
            location.assign(url);
        }
    }

    function delete_collection(collection){
        var x = confirm("Do you want to delete?")
        if( x == true ){
            var url = "/collections/delete/"+collection;
            location.assign(url);
        }
    }

</script>


{% endblock %}