<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MongoDB Learning Tool</title>
		<link rel="stylesheet" href="/static/bootstrap-3.3.4/css/bootstrap.css" />
        <link rel="stylesheet" href="/dashboard.css" />
</head>
<body>

    <nav class="navbar navbar-inverse" style="height: 100px">
      <div class="container-fluid" style="margin-top: 20px">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/static/logo.jpg" alt style="width: 40px; height: 30px;" /></a>
          <a class="navbar-brand" href="#" style="font-size: 35px">MongoDB Learning Tool</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" style="font-size: large;">
            <li><a href="/home">Home</a></li>
            <li><a href="/help">Help/Features</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <h2 class="sub-header" style="margin-right: 100px; margin-left: 100px; text-align: center">MongoDB Learning Tool</h2>
    <hr style="margin-right: 100px; margin-left: 100px;">
    <div class="container marketing" style="width: 90%; ">

      <div class="row" style="width: 100%; text-align: center;">
        <div class="col-lg-3" style="width: 30%; color: #31708f">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>MongoDB UI</h2>
          <p>Interested in learning MongoDB while using it. This will lead you to the UI page where you can start using MongoDB while learning how it works.</p>
          <p><a class="btn btn-default" href="/databases" role="button" style="background-color: #9acfea;">View details &raquo;</a></p>
        </div>

        <div class="col-lg-3" style="width: 30%; color: #31708f">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>MongoDB Tutorial</h2>
          <p>Learn how to write MongoDB commands for the shell and usages of these commands. It also describes the functions in detail.</p>
          <p><a class="btn btn-default" href="/tutorial" role="button" style="background-color: #9acfea;">View details &raquo;</a></p>
        </div>

        <div class="col-lg-3" style="width: 30%; color: #31708f">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>SQL to MongoDB</h2>
          <p>New to NoSQL database, but comfortable with SQL databases. Learn the SQL statements conversion to MongoDB statements.</p>
          <p><a class="btn btn-default" href="/sql_to_mongodb" role="button" style="background-color: #9acfea;">View details &raquo;</a></p>
        </div>
      </div>
    </div>


        <footer class="footer" style="clear:both; position: fixed; bottom: 10px; width: 100%">
        <div class="container" align="middle" >
            <hr>
            <p style="text-align: center">
			    &nbsp;© Copyright 2015 Pooja Pawara.
			    <br />
			    Software Version: 1.0
		    </p>
		</div>
        </footer>


</body>
</html>