{% extends 'base.html' %}

{% block content %}
    <h2 class="sub-header">Inserting Documents</h2>
    <hr style="margin-right: 100px;">
    <div class="table-responsive" style="margin-right: 100px;">
        <p>
        <br>
        The command for inserting documents in MongoDB is:
        <b>db.collection.insert()</b>
        <br>This command insert a new document in the collection with key-value pairs provided.
        <br><br><br><b>Insert operation can be carried out as follows : </b>
        <br><br>
        <b> > db.collection_name.insert( { key1: value1, key2: value2, ...} )</b>
        <br><br>In this command, collection_name is the name of the collection insert operation is performed on.
        <br>The attributes of the document are the keys, and the values are the attribute values.
        <br><br>
        <u>Example :</u> <br>
        <b> > db.users.insert(
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; id: "ab1234",
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; name: "John Doe",
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; gender: "Male"
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; phone: ["232.1234", "232.1235"],
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }
            <br> &nbsp;&nbsp;)
        </b>
        <br><br>If the insert is successful, it will print this message :
        <br><b> > WriteResult({ "nInserted" : 1 })</b>
        <br>The number in the message indicates number of inserts done. If number is 0 the insert was unsuccessful.
        <br><br>Another way to check if the insert was done by using the command :
        <br><b> > db.users.find()</b>
        <br>This command will display the document inserted and any other previous documents inserted.

        <br><br>During insert operation an "_id" field is assigned to the document.
        An _id field can be provided in the insert to give it user assigned value.
        <br><u>Example :</u>
        <br>
        <b> > db.users.insert( { _id: 10, name: "Sherlock", salary: 2000 } )</b>
        <br>This will overwrite the default value of the _id field.

        <br><br><br>
        To insert multiple documents in a single insert provide all the documents as a list to the insert function.
        <br><br>
        <b> > db.users.insert( [
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; id: "ab1234",
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; name: "John Doe",
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; gender: "Male"
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; phone: ["232.1234", "232.1235"],
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; },
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; id: "az1245",
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; name: "Jane Doe",
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; gender: "Female"
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; phone: ["232.1241", "232.1242"],
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; },
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; id: "an2131",
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; name: "Sherlock",
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; gender: "Male"
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; salary: 2000,
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; },
            <br> &nbsp;&nbsp; ] )
        </b>

        </p>

        <hr>
        <form>
            <br><br>
            <a class="btn btn-default" href="/tutorial/overview"
            role="button" style="background-color: #9acfea;">< MongoDB Overview</a>

            <a class="btn btn-default"  href="/tutorial/update_doc"
            role="button" style="background-color: #9acfea; margin-left: 500px">Updating Documents ></a>
        </form>
    </div>

{% endblock %}