{% extends 'base.html' %}

{% block content %}
    <h2 class="sub-header">Search Queries</h2>
    <hr style="margin-right: 100px;">
    <div class="table-responsive" style="margin-right: 100px;">
        <p>
        <br>
        The command for searching documents in MongoDB is:
        <b>db.collection.find()</b>
        <br>This command finds the document in the collection.
        <br><br><br><b>Search operation can be carried out as follows : </b>
        <br><br>
        <b> > db.collection_name.find( {Search condition} )</b>
        <br><br>In this command, collection_name is the name of the collection search operation is performed on.
        <br>The document/documents are searched by using the search parameters and the document is retrieved.
        <br><br>

        <u>Example :</u> <br>
        <b> > db.users.find()</b> or <b> > db.users.find( { } )</b>
        <br>This command will retrieve all documents in the collection.
        <br><br>

        <u>Example :</u> <br>
        <b> > db.users.find(<br>&nbsp;&nbsp;&nbsp;{ name: "Sherlock" }<br>)</b>
        <br>The document is searched in the collection where name="Sherlock".
        <br>If the search matches multiple documents, then all those documents are retrieved.

        <br><br><br>
        The following functions can be used along with the search operation. These functions can be used individually or
        together depending on the requirements.
        <br>
        <table class="table table-striped"style="width: 80%">
        <thead>
        <tr>
            <th><label style="width: 500px">Functions</label></th>
            <th><label>Description</label></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><b> "," </b> <br>Logical AND Condition
                <br><br>Ex:<b> > db.users.find(<br>&nbsp;&nbsp;&nbsp;{ name: "Sherlock", age: 25 } <br>)</b>
                </td>
                <td>This is used for an <b>AND conjunction</b> of two or more search parameters.
                <br>Both conditions need to be satisfied to get the document.</td>
            </tr>
            <tr>
                <td><b>$or</b> <br>Logical OR Condition
                <br><br>Ex:<b> > db.users.find(<br>&nbsp;&nbsp;&nbsp;{ $or: [ { name: "Sherlock" }, { age: 25 } ] } <br>)</b></td>
                <td>This is used for an <b>OR conjunction</b> of two or more search parameters.
                <br>Either condition needs to be satisfied to get the document.</td>
            </tr>
            <tr>
                <td><b>$in</b>
                <br><br>Ex:<b> > db.users.find(<br>&nbsp;&nbsp;&nbsp;{ appliances: { $in: [ "Tablet", "Laptop" ] } }<br>)</b></td>
                <td>This is used to find using <b>multiple values that match of the same attribute</b> in a collection.
                <br>If attribute value is in any of the value list, then the document will be retrieved.</td>
            </tr>
            <tr>
                <td><b>$lt, $lte, $gt, $gte</b>
                <br><br>Ex:<b> > db.users.find(<br>&nbsp;&nbsp;&nbsp;{ age: { $lte : 25 } }, salary: { $gt : 5000 } } <br> )</b></td>
                <td>This is used in the search parameters to check if attribute value is <b>less than, less than equal, greater than or greater than equal</b> to the number specified.
                <br>If <,<=,> or >= condition is satisfied then the document is retrieved.</td>
            </tr>
            <tr>
                <td><b>count()</b>
                <br><br>Ex:<b> > db.users.find().count()</b>
                <br> OR
                <br>Ex:<b> > db.users.count()</b>
                <br><br>Ex:<b> > db.users.find( { age : 25 } ).count()</b></td>
                <td>This is used to get the <b>count</b> of the all documents in the collection.
                <br>If a condition is specified then it counts the number of retrieved documents.</td>
            </tr>
            <tr>
                <td><b>limit()</b>
                <br><br>Ex:<b> > db.users.find().limit( 10 )</b>
                <br><br>Ex:<b> > db.users.find( { age : 25 } ).limit( 1 )</b></td>
                <td>This is used to <b>limit</b> the number of documents retrieved from the collection.
                <br>If a condition is specified then it retrieves those documents and then displays only the number of documents specified.</td>
            </tr>
        </tbody>
        </table>

        <hr>

        <form>
            <br><br>
            <a class="btn btn-default" href="/tutorial/delete_doc"
            role="button" style="background-color: #9acfea;">< Deleting Documents</a>

            <a class="btn btn-default"  href="/tutorial"
            role="button" style="background-color: #9acfea; margin-left: 500px">< Back to Tutorials</a>
        </form>
    </div>

{% endblock %}