{% extends 'base.html' %}

{% block content %}
    <h2 class="sub-header">Updating Documents</h2>
    <hr style="margin-right: 100px;">
    <div class="table-responsive" style="margin-right: 100px;">
        <p>
        <br>
        The command for updating/modifying documents in MongoDB is:
        <b>db.collection.update()</b>
        <br>This command updates the document in the collection.
        <br><br><br><b>Update operation can be carried out as follows : </b>
        <br><br>
        <b> > db.collection_name.update( {Search condition}, {Modified values} )</b>
        <br><br>In this command, collection_name is the name of the collection update operation is performed on.
        <br>The document/documents are searched by using the search parameters and the modified values are applied to the document found.
        <br><br>
        <u>Example :</u> <br>
        <b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ name: "Sherlock" },
                    <br>&nbsp;&nbsp;&nbsp;{ $inc: { salary: 100 } }<br>)
        </b>
        <br>The document is searched in the collection where name="Sherlock" and salary is incremented by 100.
        <br><br>If multiple documents have to be updated, then use <b>multi=true</b> as one of the arguments to the function.
        <br><u>Example :</u>
        <br><br>
        <b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ status: "A" },
                    <br>&nbsp;&nbsp;&nbsp;{ $inc: { salary: 100 } },
                    <br>&nbsp;&nbsp;&nbsp;{ multi: true } <br>)
        </b>
        <br>This will find all the documents that satisfy the requirement and update the values.

        <br><br><br>
        The following functions can be used along with the update operation. These functions can be used individually or
        together depending on the requirements.
        <br>
        <table class="table table-striped"style="width: 80%">
        <thead>
        <tr>
            <th><label style="width: 500px">Functions</label></th>
            <th><label>Description</label></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>$set</b>
                <br><br>Ex:<b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ name: "Sherlock" },
                    <br>&nbsp;&nbsp;&nbsp;{ $set: { status: "A" } } <br>)</b>
                    <br><br>It can also be used to add a column to one/all documents.
                    <br>Ex:<b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ },
                    <br>&nbsp;&nbsp;&nbsp;{ $set: { birth_date : new Date() } },
                    <br>&nbsp;&nbsp;&nbsp;{ multi: true } <br>)</b>
                </td>
                <td>This is used to <b>set the value</b> of an attribute.<br>If a column to be updated does not exist,
                     then the column is created and the value is set. </td>
            </tr>
            <tr>
                <td><b>$unset</b>
                <br><br>Ex:<b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ name: "Sherlock" },
                    <br>&nbsp;&nbsp;&nbsp;{ $unset: { age: "" } } <br>)</b></td>
                <td>This is used to <b>drop the specified attribute</b> field from the document.
                <br>If multi=true is specified then the field is deleted from all the documents.</td>
            </tr>
            <tr>
                <td><b>$inc</b>
                <br><br>Ex:<b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ name: "Sherlock" },
                    <br>&nbsp;&nbsp;&nbsp;{ $inc: { salary: 200 } } <br>)</b>
                    <br>Ex:<b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ name: "Sherlock" },
                    <br>&nbsp;&nbsp;&nbsp;{ $inc: { salary: -200 } } <br>)</b></td>
                <td>This is used to <b>increment/decrement the value</b> of an attribute by whatever number is provided.
                <br>If positive number provided then increment and if negative number provided then decrement.</td>
            </tr>
            <tr>
                <td><b>$lt</b> or <b>$lte</b>
                <br><br>Ex:<b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ age: { $lt : 25 } },
                    <br>&nbsp;&nbsp;&nbsp;{ $inc: { salary: 200 } },
                    <br>&nbsp;&nbsp;&nbsp;{ multi: true } <br>)</b>
                    <br>OR
                    <br>Ex:<b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ age: { $lte : 25 } },
                    <br>&nbsp;&nbsp;&nbsp;{ $inc: { salary: 200 } },
                    <br>&nbsp;&nbsp;&nbsp;{ multi: true } <br>)</b></td>
                <td>This is used in the search parameters to check if attribute value is <b>less than</b> or <b>less than equal</b> to the number specified.
                <br>If the < or <= condition is satisfied then the action is carried out.</td>
            </tr>
            <tr>
                <td><b>$gt</b> or <b>$lte</b>
                <br><br>Ex:<b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ age: { $gt : 25 } },
                    <br>&nbsp;&nbsp;&nbsp;{ $inc: { salary: 200 } },
                    <br>&nbsp;&nbsp;&nbsp;{ multi: true } <br>)</b>
                    <br>OR
                    <br>Ex:<b> > db.users.update(<br>&nbsp;&nbsp;&nbsp;{ age: { $gte : 25 } },
                    <br>&nbsp;&nbsp;&nbsp;{ $inc: { salary: 200 } },
                    <br>&nbsp;&nbsp;&nbsp;{ multi: true } <br>)</b></td>
                <td>This is used in the search parameters to check if attribute value is <b>greater than</b> or <b>greater than equal</b> to the number specified.
                <br>If the > or >= condition is satisfied then the action is carried out.</td>
            </tr>
        </tbody>
        </table>

        <hr>

        <form>
            <br><br>
            <a class="btn btn-default" href="/tutorial/insert_doc"
            role="button" style="background-color: #9acfea;">< Inserting Documents</a>

            <a class="btn btn-default"  href="/tutorial/delete_doc"
            role="button" style="background-color: #9acfea; margin-left: 500px">Deleting Documents ></a>
        </form>
    </div>

{% endblock %}