{% extends 'base.html' %}

{% block content %}
    <h2 class="sub-header">Help/Features</h2>
    <hr>
    <div class="table-responsive">
        <ul>
            <li style="font-size: x-large">Databases Page</li>
            <br><p style="font-size: medium">This page lists out all the databases in the mongoDB system. You can add/delete any database from the list.
            <br>Clicking on the database name will lead to the "Collections Page" which displays all the collections in that database.</p>
            <br>

            <li style="font-size: x-large">Collections Page</li>
            <br><p style="font-size: medium">This page lists out all the collections in the selected database. You can add/delete/rename any collection from the list.
            <br>Clicking on the collection name will lead to the "Collection Content Page" which displays all the documents in that collection.</p>
            <br>

            <li style="font-size: x-large">Collection Content Page</li>
            <br><p style="font-size: medium">This page lists out all the documents in the selected collection. You can do the following actions on any document from the list:
            <br>&nbsp;&nbsp;&nbsp;&nbsp;<ul>
                    <li>Add/Edit Attribute<br><p>This allows you to add a new attribute and value OR edit existing attribute's value.
                        If attribute exists then value can be changed, if not then attribute is added and value is set.<br></p></li>
                    <li>Delete Attribute<br><p>This allows you to delete an attribute from the document.
                        Only that document will be affected.<br></p></li>
                    <li>Delete Document<br><p>This allows you to delete the whole document.
                        It will ask for a confirmation before permanently deleting it.<br></p></li>
                    <li>Add New Document<br><p>This allows you to add a new document to the collection.
                        It will lead you to a new page where you can add attributes and values.
                        <br>After pressing done on "Add Document" page, it will add the document to the list.<br></p></li>

                </ul>
            <br>

            <li style="font-size: x-large">Add Document Page</li>
            <br><p style="font-size: medium">This page allows you to add attributes and values to the new document created in the collection.
            <br>Enter attribute name and value in the textboxes and select "Single Value/List of Value".
            <br>Then press the Add button and the key-value will be added to the document.
            <br>Enter a comma-separated list in the value textbox if adding a list. Click Done button after adding all key-value pairs.</p>
            <br>

            <li style="font-size: x-large">Tutorials Page</li>
            <br><p style="font-size: medium">This page lists out all the tutorials provided. You can click on any desired tutorial and start learning.
            <br>Try the commands in the mongo shell to get a full learning experience.</p>
            <br>

            <li style="font-size: x-large">SQL to MongoDB Conversion Page</li>
            <br><p style="font-size: medium">This page lists out all the basic SQL statements and the MongoDB translated statements.
            <br>It also gives a basic idea of differences and similarities between the two.</p>
            <br>

            <li style="font-size: x-large">Navigation</li>
            <br><p style="font-size: medium">Buttons are available on each page to navigate freely to next/previous page.
            <br>The top navbar and side-bar is placed to jump to necessary links.</p>
        </ul>

        <form>
            <br><br>
            <a class="btn btn-default" href="/home" role="button" style="background-color: #9acfea;">Home</a>
        </form>
    </div>

{% endblock %}